datasets>=2.14.0
transformers>=4.35.0
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
accelerate>=0.24.0
peft>=0.7.0
tensorboard>=2.14.0
numpy>=1.24.0
pandas>=2.0.0
tokenizers>=0.14.0
bitsandbytes>=0.41.0
scipy>=1.11.0
scikit-learn>=1.3.0
matplotlib>=3.5.0
safetensors>=0.4.0
# sudo apt update && sudo apt install -y libpango1.0-dev pkg-config python3-dev
# sudo apt install -y libcairo2-dev libgirepository1.0-dev ffmpeg
# pip install manim
# sudo apt install -y texlive-latex-base texlive-fonts-recommended texlive-latex-extra
# cd /home/ubuntu/github/cursor-V2 && manim miller_rabin_ques0_gt.py MillerRabinVisualization -ql
# /home/ubuntu/github/cursor-V2/media/videos/miller_rabin_ques0_gt/480p15
# cd /home/ubuntu/github/cursor-V2/media/videos/miller_rabin_ques0_gt/
# cd /home/ubuntu/github/cursor-V2 && manim miller_rabin_ques0_gt.py MillerRabinVisualization -ql
